@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 239, 239;
  --background-start-rgb: 62, 135,127;
  --background-end-rgb: 39, 103, 87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 219, 215, 219;
    --background-start-rgb: 17, 59, 67;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.errorH {
  height: calc(100vh - 200px);
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -5px 0 0 -30px;
  border: 7px dotted #cbe908;
  border-radius: 50%;
  border-left: 7px dotted #e9cb08;
  border-top: 7px dotted #7cdb34;
  border-bottom: 7px dotted #34dbae;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.numberspage {
  font-family: Arial, Helvetica, sans-serif;
}